html {
  background-color: darkslategray;
}
.background,
.background:after {
  height: 80vh;
  width: 80%;
  margin: 5% auto;
  background-image: url(../assets/cederic-vandenberghe-21DP3hytVHw-unsplash.jpg);
  // background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.background:after {
  opacity: 0.2;
}

.platform {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: inherit;
  height: 20px;
}