.background {
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
.backgroundImg,
.platform,
.storyBox {
  height: inherit;
  width: inherit;
  margin: 0 auto;
}

.backgroundImg,
.platform {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.backgroundImg{
  background-image: url(../assets/cederic-vandenberghe-21DP3hytVHw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.platformFlex {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.storyBox {
  padding: 20px 20px;
  // margin: 10% 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .veryStart,
  .return {
    float: left;
    position: absolute;
    left: 20px;
    top: 0;
  }
  .left,
  .right {
    width: 150px;
    height: 50px;
  }
}

form {
  width: inherit;
  height: 20px;
}

.photographerCredit {
  text-align: center;
}

footer {
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
  #footerText {
    padding: 10px;
    display: block;
  }
}


@media (max-width: 700px) {
  .storyBox {
    padding: 20px 5px;
    p {
      text-align: left;
    }
    .question {
      text-align: center;
    }
  }
}

@media(max-width: 480px) {
  .backgroundImg {
    background-position: 70%;
  }
}