html {
  background-color: darkslategray;
  font-family: 'MedievalSharp', cursive;
  font-size: 62.5%;
  font-size: 1.2rem;
}



p {
  padding: 0 0 20px 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

a {
  // text-decoration: none;
  color: #FFF;
}

