@import 'setup';

div.platform {
  // background-color: brown;
  background-image: url(../assets/funky-scroll-frame.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}